.profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -80px;
}
.profile-image img{
    scale: 0.4;
    border: 10px solid slategrey;
    border-radius: 12px;
    margin-right: -80px;
}

  

@media (max-width: 669px) {
.profile-image img{
    margin-top: 50px;
    width: 250px;
    margin-left: -50px;
}
.profile-details{
    margin-top: 50px;
    margin-left: 20px;
}
}  

@media (max-width: 410px) {

.profile-details h1{
    font-size: 22px;
}
.profile-details h3{
    font-size: 16px;
}
}

@media (max-width: 315px) {

    .profile-image img{
        margin-top: 50px;
        width: 200px;
        margin-left: -50px;
    }
    .profile-details h1{
        font-size: 20px;
    }
    .profile-details h3{
        font-size: 16px;
    }
}
.order-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .order-content {
    display: flex;
    align-items: center;
  }
  
  .order-image {
    width: 120px;
    margin-right: 20px;
  }
  
  .order-status {
    text-align: center;
    color: green;
  }
  
  /* Responsive styles */
  @media (max-width: 769px) {
    .order-card {
      flex-direction: column;
      text-align: center;
    }
  
    .order-content {
      flex-direction: column;
    }
  
    .order-image {
      width: 100%;
      margin: 0 0 20px;
    }
    .track-button{
        text-align: left;
    }
}
